.about__container{
    display: flex;
    flex-direction: column;
    padding: 3em 5em ;
    background-color: #E5E2E2;
}
.about__video{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
}
.about__video_instruct{
    color: black;
}
.about__video_point-icon{
    background:linear-gradient(90deg, rgba(130, 238, 153, 1) 0%, rgba(255, 235, 59, 1) 34%, rgba(237, 139, 27, 1) 62%);
}
.about__video_clip{
    box-shadow: 5px 5px 5px 5px #888888
}
.about__article{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.about__article video{
    width: 60%;
   
}
.about__article p{
    color: black;
    width: 80%;
}
.about__services{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    color: black;
}
.about__services img{
width: 100%;
}
.about__services p{
    width: 80%;
}
.about__team{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    color: black;
    position: relative;
}
.about__team img{
    width: 100%;
}
.about__team p{
    width: 80%;
    position: relative;
}
@media screen and (max-width: 600px){
    .about__container{
        padding: 2em;
    }
    .about__container h1{
        font-size: large
    }
    .about__article video{
        height: 10em;
    }
}
@media screen and (max-width: 325px) {
    .about__container{
        padding: 0.5em;
    }
}