
.cartitem__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0;
}

.cartitem__remove-item{
    background-color: #E5E2E2 ;
}
.cart-item__details{
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.cart-item__details-name{
    margin: 0;
}
.cart-item__details-qty{
    display: flex;
   gap: 1em;
    justify-content: center;
    align-items: center;
   
    margin: 0;
   
}
.cart-item__details-qty button{
    width: 20px;
    height: 20px;
    text-align: center;
}

