.cart__container{
    color: black;
   
    
}

.cart__main{
    background-color: gray;
    padding: 2em;
    display: flex;
    flex-direction: column;
}


.cart__product_img{
    border-radius: 0.3em;
    width: 200px;
    height: 200px;
}
.cart__sumtotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
}
.cart__checkout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1em 0;
}
.cart__checkout-button{
    background-color: #ED8B1B;
    color: white;
    border-radius: 5px;
    font-size: 11px;
    padding: 1em;
    cursor: pointer;
}
@media screen and (max-width: 1023px){
    .cart__product_img{
        width: 100px;
        height: 100px;
    }
}