.cart__container{
    color: black;
}

.cart__main{
    background-color: gray;
    padding: 2em;
    display: flex;
    flex-direction: column;
}


.cart__product_img{
    border-radius: 0.3em;
    width: 200px;
    height: 200px;
}
.cart__sumtotal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
}
.cart__checkout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1em 0;
}
.cart__checkout-button{
    background:linear-gradient(90deg, rgba(130, 238, 153, 1) 0%, rgba(255, 235, 59, 1) 34%, rgba(237, 139, 27, 1) 62%);
    color: white;
    border-radius: 5px;
    font-size: 11px;
    padding: 1em;
    cursor: pointer;
}
@media screen and (max-width: 600px){
    .cart__main{
        padding: 0.5em; 
    }
    .cart__product_img{
        width: 100px;
        height: 100px;
    }
    .cart__checkout{
        width: 100%;
    }
    .cart__checkout-button{
        width: 10em;
        font-size: 10px;
    }
}
@media screen and (max-width: 325px){
    .cart__main{
        padding: 0.5em; 
    }
    .cart__product_img{
        width: 80px;
        height: 80px;
    }
    .cart__checkout{
        padding: 0.1em;
    }
    .cart__checkout-button{
        font-size: 9px; 
        padding: 0.5em;
        width: 8em;
    }
}