.checkout__container{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 2em;
   margin: none;
   background-color: #808080;
}
.checkout__section{
    display: grid;
    grid-template: 50px 50px/ 1fr 1fr;
    width: 100%;
    gap: 1em;
}
.checkout__section_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.checkout__btn-confirm{
    margin-top: 1em;
    margin-bottom: 6em;
    cursor: pointer;
    background:linear-gradient(90deg, rgba(130, 238, 153, 1) 0%, rgba(255, 235, 59, 1) 34%, rgba(237, 139, 27, 1) 62%);
}
.checkout__btn-confirm:hover{
    background: black;
    color : white;
}
.checkout__select{
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .checkout__section{
        display: flex;
        flex-direction: column;
    }
}