.confirmation{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 20em;
    font-size: larger;
    background-color: #e5e2e2;
    
}
.confirmation a{
    color: white;
    text-decoration: none;
    background:linear-gradient(90deg, rgba(130, 238, 153, 1) 0%, rgba(255, 235, 59, 1) 34%, rgba(237, 139, 27, 1) 62%);
    padding: 0.5em;
    border-radius: 4px;
}
.confirmation a:hover{
    background : black;
    color: white;
}