.snack__review{
    display: flex;
    gap: 2px;
}
.snack__review_icon{
    color: black;
    position: relative;
}
.selected{
    color: greenyellow;
}
.snack__photo img{
    border-radius: 5px;
}
.snack__container{
    display: flex;
    justify-content: space-between;
    align-items:center;
  padding: 0 2em;
}
@media screen and (max-width: 1023px){
    .snack__container{
        flex-direction: column;  
    }
}