.footer__container{
    margin: 0;
}
.footer__top{
    background-color: #F5F5F5;
    display : flex;
    align-items: center;
    justify-content: space-around;

}
.footer__subscribe{
    color: black;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__subscribe h1{
    font-size: 15px;
}
.footer__subscribe p{
    font-size: 15px;
    margin-top: 1.5em;
    width: 80%;
}
.footer__subscribe-inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footer__subscribe_input_send{
    transform: translateX(-20%);
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    height: 40px;
    width : 20%;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}
.footer__subscribe_input_text{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background-color: white;
    color: black;
    height: 39px;
    width : 60%;
    padding-left: 1em;
    border: 1px solid gray;
}
.footer__contact{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 5em;
   width: 40%;
   justify-content: center;
   align-items: center;
   margin: none;
}
.footer__details{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    width: 50%;
}
.footer__contact_title{
    font-size: 8px;
    color: black;
    margin-top: none;
}
.footer__contact_icons{
    color : #ED8B1B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6em;
}
.footer__contact_details{
    color: black;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
}
.footer__blog{
    color: black;
    background-color: #FCFCFC;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__blog-articles{
    display:flex;
}
.footer__blog_nav{
    background-color: #ED8B1B;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.footer__blog_nav-container{
    display: flex;
    justify-content: space-between;
    width: 15%;
    flex-direction: row;
    position: relative;
    margin-top: 1.5em;
}
.footer__center{
    background-color: #FFFFFF ;
    display: flex;
    justify-content: center;
    padding: 2em 3em;
}
.footer__center a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.footer__base{
    color : rgb(148, 143, 143);
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0.3em 0;
    font-weight: 600;
    letter-spacing:1px;
}
@media screen and (max-width: 600px){
 .footer__top{
        flex-direction: column-reverse;
        align-items: center;
        height: 40em;
    }
    .footer__subscribe{
        width: 100%;
        text-align: center;
     justify-content: center;
        align-items:center;
    }
    .footer__contact{
        justify-content: center;
        align-items:center;
        padding: 1em 0;
        width: 60%;
    }
    .footer__details{
        width: 100%;
    }
    .footer__blog{
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 325px){
    .footer__contact{
        width: 80%;
    }
}