
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em 1em;
  width: auto;
  font-size: 13px;
  align-items: center;
  background-color: #e5e2e2;
  background-image: url("/images/hcue/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.header__img-container {
  position: relative;
  margin: auto;
}
.header__img {
  border: none;
  width: 250px;
  background: transparent;
}
.header_bars {
  position: relative;
  top: 1em;
  align-items: end;
  justify-content: flex-start;
  margin-right: auto;
  display: none;
}
.header__left-links-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 12%;
}
.header__left-links-container a {
  text-decoration: none;
  color: black;
}
.header_right {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 21%;
  align-items: center;
  cursor: pointer;
}
.header__user-description,
.header__cart-description {
  color: black;
  margin: none;
  padding: none;
  position: relative;
  right: 0.5em;
}
.header__cart-description a {
  text-decoration: none;
  color: black;
}
.header__cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6.7em;

}
.header__cart_showcart > * {
  z-index: 5;
  width: 200px;
  height: 50px;
}
.header_right a {
  text-decoration: none;
}
.header__cart-icon {
  position: relative;
  display: flex;

}
.header__cart-icon_cartItems {
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 11px;
  font-family: "Courier New", Courier, monospace;
  background-color: #ed8b1b;
  padding: 0.2em;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
 transform: translate(13px,-5px);
}
.header__panel {
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  top: 8.5em;
  left: 1em;
  background-color: white;
  padding: 0.2em 1.3em;
  margin: 0;
  border: 1px solid gray;
  line-height: 1em;
  display: none;
  z-index: 3;
  height: 9em;
}
.header__panel a {
  text-decoration: none;
  color: black;
  font-size: smaller;
  letter-spacing: 1px;
}
.header__panel p{
  margin: 0;
}
@media screen and (max-width: 1200px) {
  /* header {
    width: 97%;
  } */
  .header_right {
    width: 26%;
  }
  .header__left-links-container {
    width: 17%;
  }
  .header__user-description {
    right: 0.1em;
  }
}
@media screen and (max-width: 600px) {
  header {
    /* width: 97%; */
    padding: 3em 0.5em;
    justify-content: space-between;
  }
  .header__cart {
    width: fit-content;
  }
  .header__panel {
    display: flex;
  }
  .header__left-links-container {
    display: none;
  }
  .header__user-description,
  .header__cart-description {
    display: none;
  }
  .header__img {
    width: 200px;
    position: relative;
  }
  .header_right {
    position: relative;
    top: 1em;
    left: -0.5em;
    width: fit-content;
  }
.header_right_search-icon{
  display: none;
}
.header_right_user-icon{
  display: none;
}
  .header_bars {
    display: block;
    margin: 0;
    color: rgb(237, 139, 27);
    position: relative;
  }
}
@media screen and (max-width: 325px) {
  header{
    width: 95.5%;
  }
  .header_right {
    position: relative;
    top: -2.5em;
    
  
  }
  .header_bars {
    position: relative;
    top: -2.5em;
  }
  .header__panel {
    top: 3.5em;
    left: 1em;
    z-index: 1;
  }
  .header__img{
    width: 120px;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-20 10:31:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
