.pastry__container{
    /* color: black; */
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-image: url(../../images/hcue/pastry_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
