.pastry__container{
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    background-image: url(../../images/hcue/pastry_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 600px) {
    .pastry__container {
      padding: 2em 1em;
    }
  }