.productlist__container{
    color: black;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    text-align: center;
   background-color: rgb(229,226,226);
}
.productlist__container h1{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
}
.productlist__products{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 600px) {
    .productlist__container{
      padding: 2em 1em;
    }
  }