.rice__container{
    color: white;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    background-image: url("../../images/hcue/rice_bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 100%;
}
@media screen and (max-width: 600px) {
    .rice__container{
      padding: 2em 1em;
    }
  }